*.suo
*.user
*.vspscc
*.scc
Tmp
bin
obj
TestResults
Logs
packages
StyleCop.Cache
.idea/
.vs/
Backup*/
UpgradeLog*.htm
*.Cache
.sass-cache/
node_modules/
Script/typings/
npm-debug.log
Enums.js
Enums.js.map
